{{!-- <div>
    All ready to work with websockets
</div> --}}
<h1>Welcome to the community chat</h1>
<div>
    <input id="chatBox" type="text">
</div>
<div>
    <p id="messageLogs"></p>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>